{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Andhra Cuisine</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
    <div class="container">
        <h1>Andhra Cuisine Dishes</h1>
        <p>Welcome to spicy and flavorful Andhra food</p>
        <div class="dish-grid">
            <div class="dish">
                <img src="{% static 'Andhra/chicken bir.jpg' %}" alt="Andhra Biryani">
                <h2>Andhra Chicken Biryani</h2>
                <p>Spicy rice dish with Andhra flavors.</p>
                <p class="price">₹250</p>
            </div>
            <div class="dish">
                <img src="{% static 'Andhra/chepala pulusu.jpg' %}" alt="Andhra Chicken Curry">
                <h3>Chepala Pulusu</h3>
                <p>tangy tamarind juice and earthy masalas blend with local caught fish</p>
                <p class="price">₹270</p>
            </div>
            <div class="dish">
                <img src="{% static 'Andhra/natukodi.jpg' %}" alt="Gongura Mutton">
                <h2>Natu Kodi Iguru</h2>
                <p>rich and hearty curry is a popular staple in many Andhra households..</p>
                <p class="price">₹320</p>
            </div>
            <div class="dish">
                <img src="{% static 'Andhra/koramenu.jpg' %}" alt="Pesarattu">
                <h2>Korameenu Vepudu</h2>
                <p>deliciously spicy Korameenu Vepudu, a traditional Murrel fish fry.</p>
                <p class="price">₹130</p>
            </div>
            <div class="dish">
                <img src="{% static 'Andhra/mutton.jpg' %}" alt="Ulavacharu">
                <h2>Gongura Mutton</h2>
                <p>The earthy flavours of mutton blend gorgeously with the piquant sourness of Gongura.</p>
                <p class="price">₹180</p>
            </div>
            <div class="dish">
                <img src="{% static 'Andhra/puli.jpg' %}" alt="Andhra Chicken Curry">
                <h2>Pulihora</h2>
                <p>Pulihora is a spicy and tangy rice preparation made with tamarind paste as the main ingredient, mixed with cooked rice.</p>
                <p class="price">₹270</p>
            </div>
            <div class="dish">
                <img src="{% static 'Andhra/gutti.jpg' %}" alt="Andhra Chicken Curry">
                <h2>Gutti Vankaya Koora</h2>
                <p>spicy stuffed eggplant curry.</p>
                <p class="price">₹270</p>
            </div>
            <div class="dish">
                <img src="{% static 'Andhra/donda.jpg' %}" alt="Andhra Chicken Curry">
                <h2>Dondakaya fry</h2>
                <p>The ivy gourds are thinly sliced and then stir-fried with nuts and spices until they achieve a wonderful blend.</p>
                <p class="price">₹270</p>
            </div>
            <div class="dish">
                <img src="{% static 'Andhra/ulava.jpg' %}" alt="Andhra Chicken Curry">
                <h2>Ulava Charu</h2>
                <p>Ulava Charu is also celebrated for its nutritional benefits.</p>
                <p class="price">₹270</p>
            </div>
            <div class="dish">
                <img src="{% static 'Andhra/royya.jpg' %}" alt="Andhra Chicken Curry">
                <h2>Royyala vepudu</h2>
                <p>Royyala Veppudu, a renowned dish hailing from Andhra Pradesh, is a culinary delight that seafood enthusiasts absolutely adore.</p>
                <p class="price">₹270</p>
            </div>
        </div>
    </div>
</body>
</html>