{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Indian Cuisine</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
    <div class="container">
        <h1>Welcome to the great Indian cuisine</h1>
        <div class="button-group">
            <a href="{% url 'andhra' %}"><button>Andhra Dishes</button></a>
            <a href="{% url 'tamil' %}"><button>Tamil Dishes</button></a>
            <a href="{% url 'north' %}"><button>North Indian Dishes</button></a>
        </div>
    </div>
</body>
</html>
