{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>North Indian Cuisine</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
    <div class="container">
        <h1>North Indian Cuisine Dishes</h1>
        <p>Welcome to spicy and flavorful North Indian food</p>
        <div class="dish-grid">
            <div class="dish">
                <img src="{% static 'north/Rajma.jpg' %}" alt="Rajma">
                <h3>Rajma Masala</h3>
                <p>This Indian vegetarian-friendly delight provides both a filling effect and many nutrients, especially proteins .</p>
                <p class="price">$10</p>
            </div>
            <div class="dish">
                <img src="{% static 'north/chole.jpg' %}" alt="chole">
                <h3>Chole Bhature</h3>
                <p>It is a combination of two elements Chole, which is a spicy chickpea Curry, and Bhature, which is a deep-fried leavened bread</p>
                <p class="price">$15</p>
            </div>
            <div class="dish">
                <img src="{% static 'north/andey.jpg' %}" alt="andey">
                <h3>Andey ki curry</h3>
                <p>Boiled eggs matching with spiced tomato-based gravy</p>
                <p class="price">$15</p>
            </div>
            <div class="dish">
                <img src="{% static 'north/aloo_gobi.jpg' %}" alt="Aloo Gobi">
                <h3>Aloo Gobi</h3>
                <p>Aloo Gobi is a dry Curry with not very much sauce and delivers a bold flavor from red chili powder/Garam Masala and the yellow hue from turmeric.</p>
                <p class="price">$10</p>
            </div>
            <div class="dish">
                <img src="{% static 'north/rogan.jpg' %}" alt="Rogan">
                <h3>Rogon Gosh</h3>
                <p>The name of this food, Rogan Josh, is the combination of “clarified butter/oil” with “stew/braise,”</p>
                <p class="price">$20</p>
            </div>
            <div class="dish">
                <img src="{% static 'north/tandoori.jpg' %}" alt="tandoori">
                <h3>Tandoor Chicken</h3>
                <p>Tandoor is a clay oven used in South Asian cooking</p>
                <p class="price">$20</p>
            </div>
            <div class="dish">
                <img src="{% static 'north/murgh.jpg' %}" alt="murgh">
                <h3>Murgh Makhani</h3>
                <p>This Butter Chicken dish is less spicy and contains a less robust aroma than the other suggested Curries..</p>
                <p class="price">$15</p>
            </div>
            <div class="dish">
                <img src="{% static 'north/dak muk.jpg' %}" alt="dak muk">
                <h3>Dal Makhani</h3>
                <p> healthy and weight-loss assisting food to enhance their daily diets.</p>
                <p class="price">$10</p>
            </div>
            <div class="dish">
                <img src="{% static 'north/malai.jpg' %}" alt="malai">
                <h3>Malai Kofta</h3>
                <p>fry the balls until they have crusty golden brown sears before tossing them in thickened gravy.</p>
                <p class="price">$15</p>
            </div>
            <div class="dish">
                <img src="{% static 'north/bhindi.jpg' %}" alt="bhindi">
                <h3>Bhindi</h3>
                <p>Okras, lady’s finger, or bhindi, is an ancient crop in India, and Bhindi Masala appeared for the first time in the Northern region of India.</p>
                <p class="price">$12</p>
            </div>
        </div>
    </div>
</body>
</html>